<!-- Container -->
<div class="container-fluid bg-main">
    <div class="row mt-4 justify-content-center" style="min-height: 600px;">
        <div class="col-md-5 col-lg-6 shadow-lg p-4 rounded-4">

            <!-- Header with Gradient Background and Icon -->
            <div class="card header-container shadow-sm rounded-3 p-3 mb-4">
                <!-- Input Fields (Task Title and Due Date) -->
                <div class="input-group p-3 mb-3 shadow-sm rounded-3">
                    <div class="row w-100 d-flex align-items-center">
                        <!-- Task Title -->
                        <div class="col-md-6 mb-3">
                            <input type="text" class="form-control" placeholder="Enter Task" name="todo"
                                [(ngModel)]="addTodoValue">
                        </div>
                        <!-- Due Date -->
                        <div class="col-md-4 mb-3">
                            <input type="datetime-local" class="form-control" placeholder="Due Date"
                                [(ngModel)]="todoObj.dueDate">
                        </div>
                        <!-- Add Button -->
                        <div class="col-md-2 mb-3 text-center">
                            <button class="btn add-btn w-100" type="button" (click)="addTodo()">
                                <i class="bi bi-plus-lg"></i> Add
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Task List -->
            <app-task-item
                [todos]="todos"
                (statusChange)="toggleStatus($event)"
                (edit)="onEditTodo($event)"
                (delete)="deleteTodo($event)">
            </app-task-item>

        </div>
    </div>
</div>

<!-- Modal for Editing Task -->
<div class="modal fade edit-modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Task</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Edit Task" [(ngModel)]="editTodoValue">
                    <input type="datetime-local" class="form-control" [(ngModel)]="todoObj.dueDate">
                </div>
                <button class="btn btn-outline-success" type="button" data-bs-dismiss="modal" (click)="editTodo()">
                    Update
                </button>
            </div>
        </div>
    </div>
</div>