<app-header (sidebarToggle)="toggleSidebar()"></app-header>
<div class="sidebar" [ngClass]="{ 'open': isOpen }">
    <ul>
        <li>
            <a routerLink="/all" (click)="toggleSidebar()" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">All</a>
        </li>
        <li>
            <a routerLink="/pending" (click)="toggleSidebar()" routerLinkActive="active">Pending</a>
        </li>
        <li>
            <a routerLink="/complete" (click)="toggleSidebar()" routerLinkActive="active">Completed</a>
        </li>
        <li>
            <a routerLink="/timer" (click)="toggleSidebar()" routerLinkActive="active">Timer</a>
        </li>
    </ul>
    <button class="close-btn" (click)="toggleSidebar()">
        <span class="material-icons">close</span>
    </button>
</div>