<app-header (sidebarToggle)="toggleSidebar()"></app-header>
<div class="sidebar" [ngClass]="{ 'open': isOpen }">
    <ul>
        <li>
            <a routerLink="/all" (click)="toggleSidebar()">All</a>
        </li>
        <li>
            <a routerLink="/pending" (click)="toggleSidebar()">Pending</a>
        </li>
        <li>
            <a routerLink="/complete" (click)="toggleSidebar()">Completed</a>
        </li>
        <li>
            <a routerLink="/timer" (click)="toggleSidebar()">Timer</a>
        </li>
    </ul>
    <button class="close-btn" (click)="toggleSidebar()">
        <span class="material-icons">close</span>
    </button>        
</div>

