<app-header (sidebarToggle)="toggleSidebar()"></app-header>
<div class="sidebar" [ngClass]="{ 'open': isOpen }">
    <ul>
        <li (click)="onFilterAll()">All</li>
        <li (click)="onFilterPending()">Pending</li>
        <li (click)="onFilterCompleted()">Completed</li>
        <li>
            <a routerLink="/timer" (click)="toggleSidebar()">Timer</a>
        </li>
    </ul>
    <button class="close-btn" (click)="toggleSidebar()">
        <span class="material-icons">close</span>
    </button>        
</div>

