/* Task Items */
.shadow-sm {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


/* Hover Effects */
.btn-outline-danger:hover {
    background-color: #e82222;
}

.btn-outline-primary:hover {
    background-color: #2c86e6;
}

.btn-success:hover {
    background-color: #28a745;
    color: white;
}

.task-header {
    color: #13191f; /* You can change this to your desired color */
    font-size: 1.5rem; /* Set font size */
    font-weight: 600; /* Set font weight */
    text-transform: uppercase; /* Optional, makes the header text uppercase */
    letter-spacing: 1px; /* Optional, adds letter spacing */
    padding: 10px 15px; /* Adds some padding */
    background-color: #cfdadc; /* Light background */
    border-radius: 5px; /* Optional, gives rounded corners */
    
}

